body{
  background-image:url("../Components/images/background.png");
  color:white;
  background-size:100%;
}


h1{
    font-family: "Anton", serif;
  font-optical-sizing: auto;
  font-style: normal;
  }

 
.button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 15px;
    background-color: #222C1D;
    outline: 3px #222C1D solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .button .text {
    color:rgb(255, 254, 254);
    font-size: 1em;
    transition: 400ms;
  }
  
  .button svg path {
    transition: 400ms;
  }
  
  .button:hover {
    background-color: transparent;
    outline: 3px #209868 solid;
  }
  
  .button:hover .text {
    color:#98e6c7 ;
  }
  
  .button:hover svg path {
    fill: #181717;
  }

/* CARDS */
.card {
  scale: 0.90;
  padding: 20px;
  color: white;
  background: transparent;
  border: 2px solid #09a616;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: center center;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card .main-content {
  flex: 1;
}

.header {
  margin-bottom: 24px;
}

.card .heading {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
}

.card .footer {
  font-weight: 400;
  margin-right: 4px;
}

.card:hover {
  border-radius: 12px;
  background-color: #49bc2d;
  scale:0.98;
  box-shadow: 0px 3px 1.5px 0.5px rgba(161, 223, 154, 0.4);
}

.slick-list{
  padding-top: 5px;
}


/* Campaign */

.Blog{
  background: linear-gradient(to top, rgba(27, 35, 22, 1), rgba(0, 0, 0, 0));
}

.Campaign{
  background-color: #222C1D;
  background: linear-gradient(to top, rgba(27, 35, 22, 1), rgba(27, 35, 22, 1));
}
