body{
  background-image:url("../Components/images/background.png");
  color:white;
  background-size:100%;
}

h1{
    font-family: "Anton", serif;
  font-optical-sizing: auto;
  font-style: normal;
  }

 
.button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 15px;
    background-color: #222C1D;
    outline: 3px #222C1D solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .button .text {
    color:white;
    font-size: 1em;
    transition: 400ms;
  }
  
  .button svg path {
    transition: 400ms;
  }
  
  .button:hover {
    background-color: transparent;
    outline: 3px #209868 solid;
  }
  
  .button:hover .text {
    color:#98e6c7 ;
  }
  
  .button:hover svg path {
    fill: #181717;
  }